thead{
    color: #337AB7;
      width: 100%;
      vertical-align: middle;
}

table{
    table-layout: fixed;
    width:  100%;
    border-collapse: collapse;
    white-space: nowrap;
}
th{
    text-align: center;
    vertical-align: center;
    vertical-align: middle;
    height: 40px;
    line-height: 40px;
}

td{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

input { 
    text-align: center; 
}

.radio-toolbar input[type="radio"] {
    display:none;
}

.radio-toolbar label {
    display:inline-block;
    background-color:#337AB7;
    padding:4px 11px;
    font-family:Arial;
    font-size:16px;
}

#getBtn{
 border: 2px solid white;
 border-radius: 10px;
}

#dfgLbl{
    font-size: 110%;
    text-align:right;
}

.radio-toolbar input[type="radio"]:checked + label {
    border-radius: 10px;
    background-color:deepskyblue;
    border: 2px solid white
}

.scrollingTable {
            display: inline-block;
            overflow-y: scroll;
            max-height:600px;
        }
